*{ /*Setting up the base requirements for the CSS*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
header h2
{
  text-align: center;
  padding-bottom: 3%;
  margin: 40px;
  font-size: 1.75em; /*Font-Size is 75% of dummy text*/
}
section .box-content {
  background-color: darkgrey;
  padding: 2%;
  margin: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}
.box-content .body {
  margin-top: 30px;
  padding: 10px;
  font-size: 1em;
  height: 200px;
  overflow: auto;
}
.box-content .header h3{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.25em;/*Font-Size is 25% of dummy text*/
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 4px 10px;
  min-width: 100px;
  width:40%;
}
.box-content .chicken-header h3 { /*Attempt at making the colors match up the ones in images :D*/
  background-color: #ff6699;
}
.box-content .beef-header h3 {
  background-color: #e60000;
  color: white;
}
.box-content .sushi-header h3 {
  background-color: #e6e600;
}
@media (max-width: 767px){
  section .box-content {
    margin: 20px !important; /*This is done to achieve the padding as mentioned in the mobile view of the diagram*/
  }
}
