*{ /*Setting up the base requirements for the CSS*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
.pos-icon {
  position: absolute;
  right: 2px;
  top: -50px;
}
.navbar-default {
  padding: 10px;
}
.nav-bar li {
  position: relative;
}
.content-beef, .content-sushi, .content-chicken {
  position: relative;
}
.nav-brand {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  transition: 0.3s;
}
.nav-brand:hover, .nav-brand:focus {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.back-top > a {
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.3s;
}
.back-top > a > span {
  color: floralwhite;
}
.back-top > a:hover {
  background-color: white;
}
#collapsable-nav ul > li > a  {
  font-size: 1.5em;
  margin: auto;
}
section .box-content {
  background-color: #0074D9;
  color: white;
  font-size: 1.25em;
  text-shadow: 0px 0px 2px black;
  padding: 2%;
  margin: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}
.content-beef {
  background-color: #B10DC9 !important;
}
.content-sushi {
  background-color: crimson !important;
}
.box-content .body {
  margin-top: 30px;
  padding: 10px;
  font-size: 1em;
  height: 240px;
  overflow: auto;
}
.box-content .header p{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.25em;/*Font-Size is 25% of dummy text*/
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 4px 10px;
  min-width: 100px;
  width:40%;
}
.box-content .chicken-header p { /*Attempt at making the colors match up the ones in images :D*/
  background-color: #ff6699;
}
.box-content .beef-header p {
  background-color: #e60000;
  color: white;
}
.box-content .sushi-header p {
  background-color: #3D9970;
}
@media (max-width: 767px){
  section .box-content {
    margin: 20px !important; /*This is done to achieve the padding as mentioned in the mobile view of the diagram*/
  }
}
@media (max-width : 762px) {
#collapsable-nav {
  margin-top: 30px;
  background-color: orange;
}
}
@media (max-width : 762px) {
.back-top  >a{
  padding: 2px;
  right: 30px;
}
}
